
{{placeholder}}
<h3>Logged in user : Id:  {{loggedUser?.id}}  name : {{loggedUser?.username}}</h3>


<div class ='panel panel-primary'>


</div>

<br>

<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='#product of products'>
                        <td>{{product.id}}  </td>
                        <td>{{ product.name | uppercase}}</td>
                        <td>{{ product.stock}}</td>
                        <td>{{ product.price}}</td>
                        <td>
                            <input #quantity type='text' placeholder="quantity"  />
                        </td>
                        <td>
                            <button (click)='addToCart(loggedUser?.id,product.id,quantity.value)'>Add to cart!</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>